@import "~reset-css/reset.css";

@font-face {
  font-family: "Roboto";
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  align-items: center;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0 auto;
}

.out-box-bg-red {
  background: linear-gradient(219.13deg, #f02f2f -10.04%, #b50000 81.09%);
}

.general-out-box {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.fix-fill-window {
  flex-grow: 1;
}

p {
  margin-bottom: 10px;
}

.main__wrapper {
  margin-bottom: 80px;
  height: calc(100% - 80px);
  width: 100%;
  max-width: 680px;
}

a {
  text-decoration: none;
}

.btn__round {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #333333;
  border: none;
  box-shadow: 2px 2px 7px 1px #666666;
  transform: translateY(0);
  transition: background-color 0.2s ease-in-out;
}

.btn__round:hover {
  background-color: #4d4d4d;
}

.btn__round:focus {
  box-shadow: 0px 0px 2px 0px #4d4d4d;
  transform: translateY(2px);
}

.btn {
  display: inline-block;
  background-color: #333;
  border: solid 1px #333;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.btn.full-wdth {
  display: block;
}

.textInput {
  border: solid 1px #333;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px #fff;
}

.textInput:focus {
  box-shadow: 1px 1px 6px 0px #666666;
  outline: none;
}

img {
  width: 100%;
}
